Чтение данных

In [57]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
import pandas as pd
train_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/week4/data.csv", delimiter=',', index_col='id')

Вывод всех строк данных

In [59]:
train_data

     X   Y  Class
id
1   22  86      0
2   78  32      1
3   54  50      1
4   68  80      0
5   18  12      0
6   85  48      0
7   78  10      0
8   50  74      0
9   30  95      0
10  91  12      0

Отбор данных для предикторов, удаление столбца Class

In [60]:
X = pd.DataFrame(train_data.drop(['Class'], axis=1))

Отбор столбца Class для отклика

In [61]:
y = pd.DataFrame(train_data['Class']).values.ravel()

Подключение библиотеки и задание параметров модели:
n_neighbors — число соседей;
p — используемое расстояние. Манхэттенское расстояние — p=1, евклидово расстояние — p=2.
Дополнительные параметры — https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

Новый объект, который необходимо классифицировать

In [62]:
NewObject = [30, 30]

In [63]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3, p=2)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [64]:
neigh.predict([NewObject])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])

Назначенный класс:

Вероятности отнесения к классам 0 и 1 соответственно:

In [65]:
neigh.predict_proba([NewObject])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([[0.33333333, 0.66666667]])

Вывод расстояний до $k$ соседей в порядке удаления (первый массив — расстояния, второй — идентификаторы объектов). <b>Обращаем внимание</b>, что метод возвращает индексы ближайших соседей с нуля, что не соответствует индексации в таблице.

In [66]:
neigh.kneighbors([NewObject])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

(array([[21.63330765, 31.2409987 , 48.0416486 ]]), array([[4, 2, 1]]))

Получены индексы [0, 5, 3], значит id = [1, 6, 4]

In [67]:
man = KNeighborsClassifier(n_neighbors = 3, p = 1)
man.fit(X, y)

KNeighborsClassifier(n_neighbors=3, p=1)

In [68]:
man.predict([NewObject])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([1])

In [69]:
man.predict_proba([NewObject])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([[0.33333333, 0.66666667]])

In [70]:
man.kneighbors([NewObject])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

(array([[30., 44., 50.]]), array([[4, 2, 1]]))