## Week3

In [238]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [239]:
#чтение данных, так как названия конфет уникальны, используем их в качестве индекса
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
DATA = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/week3/excercise.csv", delimiter=',')

In [240]:
DATA

   id   X   Y
0   1   4  10
1   2  22  41
2   3  20  36
3   4   7  17
4   5  13  31
5   6  12  35
6   7  17  47
7   8   3  10
8   9   1   5
9  10  21  41

## Task 1

Определите выборочное среднее X, Y

In [241]:
print(np.mean(DATA['X']))
print(np.mean(DATA['Y']))

12.0
27.3

In [242]:
#отбираем данные для предикторов, удаляя два последних столбца, индекс не включается в данные.
X = pd.DataFrame(DATA['X'])

In [243]:
#указываем столбец отклика
Y = pd.DataFrame(DATA['Y'])

In [244]:
#обучение модели
reg = LinearRegression().fit(X, Y)

Значение коэффициента $\theta_0$:

In [245]:
b = reg.intercept_[0]

Значение коэффициентов $\theta_1, \ldots, \theta_p$:

In [246]:
a = reg.coef_[0][0]

R^2

In [247]:
Y_pred = []
for i in range (10):
  y = a*DATA.iloc[i,1] + b;
  Y_pred.append(y)

r2_score(Y,Y_pred)

0.8808245804605275

##Task 2

In [248]:
DATA = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/week3/candy-data.csv", delimiter=',', index_col='competitorname')
DATA

                       chocolate  fruity  caramel  ...  pricepercent  winpercent  Y
competitorname                                     ...
100 Grand                      1       0        1  ...         0.860   66.971725  1
3 Musketeers                   1       0        0  ...         0.511   67.602936  1
One dime                       0       0        0  ...         0.116   32.261086  0
One quarter                    0       0        0  ...         0.511   46.116505  0
Air Heads                      0       1        0  ...         0.511   52.341465  1
...                          ...     ...      ...  ...           ...         ... ..
Snickers Crisper               1       0        1  ...         0.651   59.529251  1
Sour Patch Kids                0       1        0  ...         0.116   59.863998  1
Sour Patch Tricksters          0       1        0  ...         0.116   52.825947  1
Starburst                      0       1        0  ...         0.220   67.037628  1
Strawberry bon bons            0       1        0  ...         0.058   34.578991  0

[70 rows x 13 columns]

In [249]:
#обучение модели будем проводить на данных, за исключением некоторых конфет
train_data = DATA.drop(['One dime','Nik L Nip'])

In [250]:
#отбираем данные для предикторов, удаляя два последних столбца, индекс не включается в данные.
X = pd.DataFrame(train_data.drop(['winpercent', 'Y'], axis=1))
X

                       chocolate  fruity  ...  sugarpercent  pricepercent
competitorname                            ...
100 Grand                      1       0  ...         0.732         0.860
3 Musketeers                   1       0  ...         0.604         0.511
One quarter                    0       0  ...         0.011         0.511
Air Heads                      0       1  ...         0.906         0.511
Almond Joy                     1       0  ...         0.465         0.767
...                          ...     ...  ...           ...           ...
Snickers Crisper               1       0  ...         0.604         0.651
Sour Patch Kids                0       1  ...         0.069         0.116
Sour Patch Tricksters          0       1  ...         0.069         0.116
Starburst                      0       1  ...         0.151         0.220
Strawberry bon bons            0       1  ...         0.569         0.058

[68 rows x 11 columns]

In [251]:
#указываем столбец отклика
y = pd.DataFrame(train_data['winpercent'])

In [252]:
#обучение модели
reg = LinearRegression().fit(X, y)

In [253]:
#предсказание для конфет введеных вручную
reg.predict([[0, 1, 0, 1, 1, 0, 1, 1, 1, 0.848, 0.594]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[46.24325994]])

In [254]:
#предсказание для конфет из таблицы

#выбираем строку из таблицы
# Onedime = DATA.loc['One dime',:].to_frame().T

#отбираем данные для предикторов и выполняем предсказание с помощью модели
# reg.predict(Onedime.drop(['winpercent', 'Y'], axis=1))

Nik = DATA.loc['Nik L Nip',:].to_frame().T
reg.predict(Nik.drop(['winpercent', 'Y'], axis=1))

array([[40.5568858]])